body {
    background-color: #F4F4F4;
    color: #343A40;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    height: 96px;
    color: #495057;
    display: flex;
    justify-content: space-between;
    padding: 24px 34px;
    box-sizing: border-box;
    margin: 0;
}

#logoLibrary img {
    max-width: 120px;
    max-height: 48px;
}

#user {
    display: flex;
    justify-content: right;
    text-transform: capitalize;
}

#user img {
    width: 24px;
}

.headerBtn {
    background-color: white;
    width: 24px;
    height: 24px;
    margin-top: 12px;
    border: 0;
    padding: 0;
}

.headerNav {
    background-color: #F4F4F4;
    border-radius: 5px;
    height: 57px;
    width: 148px;
}

.headerNav a {
    display: block;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #2A2A2A;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    cursor: pointer;
}

.menu {
    margin: 2.1%;
    border-radius: 5px;
    background-color: white;
    height: 78vh;
    padding: 24px;
}

.menuTitle h2 {
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    display: inline;
    width: 251px;
}

.menuTitle a {
    text-decoration: none;
    color: #00000080;
}

.tableHistoric{
    width: 95%;
    height: max-content;
    border-collapse: collapse;
    text-align: left;
    margin: 40px auto 34px;
}

.tableHistoric th{
    height: 52px;
    padding: 10px 42px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #CDCDCD;
    color: black;
    font-weight: normal;
}

.tableHistoric tr:first-child th{
    border-bottom: 0;
    font-weight: bold;
}

.titleTable{
    background-color: #FFC501;
    height: 41px;
    padding: 10px 42px;
    box-sizing: border-box;
    border-radius: 1px;
}

.tableHistoric tr:nth-child(2) th div{
    width: 105px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    margin: 0;
}

.textFilter{
    border: none;
    width: 80%;
    outline: none;
    height: 21px;
    padding: 0 0 0 3px;
}
.textFilter:focus{
    outline: none;
    border: none;
}

@media screen and (max-width:1040px) {
    .tableHistoric th{
        height: auto;  
    }
    .tableHistoric tr:nth-child(2) th div{
        width: auto;
    }
}

@media screen and (max-width:834px) {
    .menu{
        /* width: 750px; */
        overflow-x: scroll;
    }
}