body {
  background-color: #f4f4f4;
  color: #343a40;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.menu {
  margin: 2.1%;
  border-radius: 5px;
  background-color: white;
  height: max-content;
  padding: 24px;
}

.menuTitle h2 {
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  display: inline;
  width: 251px;
}

.menuTitle a {
  text-decoration: none;
  color: #00000080;
}

.barSearch {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  flex-wrap: wrap;
}

.barSearch img {
  transform: translateX(28px);
}

.barSearch input {
  padding: 18px;
  padding-left: 33px;
  box-sizing: border-box;
}

.barSearch button {
  transform: translateX(-100px);
}

input,
select {
  border: 1px solid #adb5bd;
  border-radius: 5px;
}

input {
  width: 666px;
  height: 53px;
  margin-bottom: 8px;
}

select {
  transform: translateX(-48px);
}

.button-yellow {
  width: 82px;
  height: 37px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #ffc501;
  border: 0;
  cursor: pointer;
}

.material-textfield {
  position: relative;
}

select + label {
  position: absolute;
  font-size: 1rem;
  left: -48px;
  top: 50%;
  transform: translateY(-55%);
  background-color: white;
  color: #133052;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  width: 50%;
}

input + label,
textarea + label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-60%);
  background-color: white;
  color: #133052;
  padding: 0 0.3rem;
  margin: 0 1rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

textarea + label {
  top: 20%;
}

input,
select,
textarea {
  font-size: 1rem;
  outline: none;
  border: 1px solid #133052;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  color: #133052;
  transition: 0.1s ease-out;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #3e4756;
}

select:focus + label {
  color: #3e4756;
  top: 0;
  transform: translateY(-50%) scale(0.9);
  width: fit-content;
}

input:focus + label,
textarea:focus + label {
  color: #3e4756;
  top: 0;
  transform: translateY(30%) scale(0.9);
}

select:valid + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
  width: fit-content;
}

input[type="text"]:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(30%) scale(0.9);
}

#dateLoan:valid + label,
#dateDelivery:valid + label {
  top: 0;
  transform: translateY(30%) scale(0.9);
}

.cardsBooks {
  display: grid;
  grid-template-columns: repeat(auto-fill, 196px);
  grid-auto-rows: 261px;
  grid-gap: 40px;
  padding: 76px 89px;
}

.card {
  padding: 24px 2px;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 196px;
  height: 261px;
  cursor: pointer;
}

.card img {
  display: block;
  width: 108px;
  height: 155px;
  margin: auto;
}

.card p {
  text-align: center;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  input {
    width: auto;
  }
}
