.no-modalDelete{
    display: none;
}
.modalDelete {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalDeleteElements{
    width: 804px;
    height: 336px;
    color: #3E4756;
    border: 1px solid #707070;
    height: 353px;
    box-sizing: border-box;
    padding: 24px;
    margin: 55px auto;
    background-color: white;
}
.modalDeleteElements input{
    width: 724px;
    height: 129px;
    margin: 16px;
    display: block;
}
.modalDeleteElements h2{
    margin: 0 16px 24px 16px;
}
.modalDeleteElements .btnClose{
    display: block;
    width: 100%;
}
.modalDeleteElements .material-textfield label{
   margin-left: 20px;
   transform: translateY(-9px);
}
.modalDeleteElements input[type=text]:not(:placeholder-shown)+label {
    top: 0;
    transform: translateY(-52%) scale(.9);
}
#inactivate{
    margin-left: 85%;
}
@media screen and (max-width:900px) {
    .modalDeleteElements {
        width: auto;
        max-width: 724px;
        height: max-content;
        margin: 55px 5%;
    }
    #descriptionDelete{
        width: 95%;
        max-width: 724px;
    }
    #inactivate{
        margin-left: 75%;
    }
}